@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  position: relative;
}

body.scroll {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  border: none;
  -moz-appearance: textfield;
}

input[type=number]:focus {
  outline: none;
}

input[type=tel] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=tel]:focus {
  outline: none;
}

input[type=text]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
}

select {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

button:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div {
  -webkit-tap-highlight-color: transparent;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0px 45px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0px;
    max-width: 1140px;
  }
}
.header {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  z-index: 3;
}
.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_block_logo a img {
  width: 165px;
}
.header_block ul {
  display: none;
}
.header_block_btn {
  display: none;
}
.header_block_burger {
  position: relative;
  width: 26px;
  height: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 330ms ease-out;
  transition: -webkit-transform 330ms ease-out;
  transition: transform 330ms ease-out;
  transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
  margin-left: 7px;
}
.header_block_burger .line-menu {
  background: #fff;
  height: 2px;
  width: 100%;
}
.header_block_burger .line-menu.half {
  width: 50%;
}
.header_block_burger .line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
  transform-origin: right;
}
.header_block_burger .line-menu.end {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
  transform-origin: left;
}
.header_block_burger.active {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header_block_burger.active .line-menu.start {
  -webkit-transform: rotate(-90deg) translateX(6px);
          transform: rotate(-90deg) translateX(6px);
}
.header_block_burger.active .line-menu.end {
  -webkit-transform: rotate(-90deg) translateX(-6px);
          transform: rotate(-90deg) translateX(-6px);
}
@media (min-width: 1200px) {
  .header {
    top: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px 0px;
    background: rgba(0, 0, 0, 0.12);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .header::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.23);
  }
  .header_block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_block ul li {
    margin-left: 30px;
  }
  .header_block ul li:first-child {
    margin-left: 0px;
  }
  .header_block ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.055em;
    color: #FFFFFF;
  }
  .header_block_burger {
    display: none;
  }
  .header_block_btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 160px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
  }
  .header_block_btn span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
}

.main {
  height: calc(100vh - 117px);
  position: relative;
}
.main_feature_mob {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 2;
}
.main_feature_desk {
  display: none;
}
.main_social {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
.main_social_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main_social_link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: rgba(0, 0, 0, 0.18);
  margin-top: 15px;
}
.main_social_link a:first-child {
  margin-top: 0px;
}
.main_slider {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 2;
}
.main_slider_item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main_slider_item img {
  width: 90%;
}
.main_nav {
  position: absolute;
  left: 0px;
  bottom: 37px;
  width: 100%;
  z-index: 3;
}
.main_nav_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_nav_prev {
  cursor: pointer;
}
.main_nav_slider {
  width: calc(100% - 100px);
}
.main_nav_slider_item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_nav_slider_item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.055em;
  color: #FFFFFF;
}
.main_nav_slider_item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5px;
}
.main_nav_next {
  cursor: pointer;
}
.main::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 50%;
  background: rgba(0, 0, 0, 0.12);
  mix-blend-mode: normal;
  border-left: 2px solid rgba(255, 255, 255, 0.23);
  -webkit-backdrop-filter: blur(19.5px);
          backdrop-filter: blur(19.5px);
  z-index: 1;
}
.main video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .main::before {
    width: calc(50% + 2px);
  }
  .main_feature_mob {
    display: none;
  }
  .main_feature_desk {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 2;
  }
  .main_slider_item img {
    width: 500px;
  }
  .main_social_link {
    right: 30px;
  }
}
@media (min-width: 1024px) {
  .main {
    height: calc(100vh - 53px);
  }
  .main::before {
    width: calc(50% + 3px);
  }
  .main_social_link {
    right: 45px;
  }
  .main_slider_item img {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .main::before {
    width: calc(50% + 4px);
  }
  .main_social_link {
    right: 0px;
  }
  .main_social_link a {
    margin-top: 20px;
  }
  .main_slider_item img {
    width: auto;
    height: calc(100vh - 53px);
  }
  .main_nav {
    bottom: 72px;
  }
  .main_nav_slider_item h2 {
    font-size: 56px;
    line-height: 57px;
  }
  .main_nav_slider_item p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
  }
}
@media (min-width: 1360px) {
  .main::before {
    width: calc(50% + 5px);
  }
}
@media (min-width: 1920px) {
  .main::before {
    width: calc(50% + 6px);
  }
}

.services {
  height: calc(100vh - 117px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 74px;
}
.services::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 96px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 19, 16, 0)), to(#2A1310));
  background: linear-gradient(180deg, rgba(42, 19, 16, 0) 0%, #2A1310 100%);
}
.services video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.services_block {
  position: relative;
  height: calc(100vh - 235px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 80px;
  overflow-y: scroll;
  margin-top: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.services_block::-webkit-scrollbar {
  display: none;
}
.services_block_item {
  margin-top: 30px;
}
.services_block_item:first-child {
  margin-top: 0px;
}
.services_block_item_top {
  position: relative;
}
.services_block_item_top h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.services_block_item_top::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 100%;
  height: 5px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.services_block_item_body {
  margin-top: 30px;
}
.services_block_item_body_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 30px;
  display: block;
  margin-top: 15px;
}
.services_block_item_body_item h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  height: 36px;
  text-transform: uppercase;
}
.services_block_item_body_item p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .services_block_item_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services_block_item_body_item {
    width: calc(50% - 10px);
  }
}
@media (min-width: 1024px) {
  .services {
    height: calc(100vh - 53px);
  }
  .services_block {
    height: calc(100vh - 171px);
  }
}
@media (min-width: 1200px) {
  .services {
    padding-top: 100px;
  }
  .services h2 {
    font-size: 68px;
    line-height: 69px;
  }
  .services_block {
    margin-top: 32px;
    height: calc(100vh - 253px);
  }
  .services_block_item {
    margin-top: 50px;
  }
  .services_block_item_top h4 {
    font-size: 24px;
    line-height: 24px;
  }
  .services_block_item_body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 17px;
  }
  .services_block_item_body_item {
    width: calc(33.3333333333% - 20px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .services_block_item_body_item:first-child {
    margin-left: 0px;
  }
  .services_block_item_body_item:nth-child(3n+4) {
    margin-left: 0px;
  }
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: #2A1310;
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 15px 0px;
}
.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer_block_tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer_block_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
}
.footer_block_social a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 15px;
}
.footer_block_social a:first-child {
  margin-left: 0px;
}
.footer_block_politic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  margin-top: 5px;
}
@media (min-width: 1024px) {
  .footer_block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .footer_block_tel {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer_block_social {
    margin-top: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .footer_block_politic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0px;
  }
}