@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  position: relative;
}

body.scroll {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  border: none;
  -moz-appearance: textfield;
}

input[type=number]:focus {
  outline: none;
}

input[type=tel] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=tel]:focus {
  outline: none;
}

input[type=text]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
}

select {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

button:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div {
  -webkit-tap-highlight-color: transparent;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0px 45px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0px;
    max-width: 1140px;
  }
}
.header {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  z-index: 3;
}
.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_block_logo a img {
  width: 165px;
}
.header_block ul {
  display: none;
}
.header_block_btn {
  display: none;
}
.header_block_burger {
  position: relative;
  width: 26px;
  height: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 330ms ease-out;
  transition: -webkit-transform 330ms ease-out;
  transition: transform 330ms ease-out;
  transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
  margin-left: 7px;
}
.header_block_burger .line-menu {
  background: #fff;
  height: 2px;
  width: 100%;
}
.header_block_burger .line-menu.half {
  width: 50%;
}
.header_block_burger .line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
  transform-origin: right;
}
.header_block_burger .line-menu.end {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
  transform-origin: left;
}
.header_block_burger.active {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header_block_burger.active .line-menu.start {
  -webkit-transform: rotate(-90deg) translateX(6px);
          transform: rotate(-90deg) translateX(6px);
}
.header_block_burger.active .line-menu.end {
  -webkit-transform: rotate(-90deg) translateX(-6px);
          transform: rotate(-90deg) translateX(-6px);
}
@media (min-width: 1200px) {
  .header {
    top: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px 0px;
    background: rgba(0, 0, 0, 0.12);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .header::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.23);
  }
  .header_block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_block ul li {
    margin-left: 30px;
  }
  .header_block ul li:first-child {
    margin-left: 0px;
  }
  .header_block ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.055em;
    color: #FFFFFF;
  }
  .header_block_burger {
    display: none;
  }
  .header_block_btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 160px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
  }
  .header_block_btn span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
}

.main {
  height: calc(100vh - 117px);
  position: relative;
}
.main_feature_mob {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 2;
}
.main_feature_desk {
  display: none;
}
.main_social {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
.main_social_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main_social_link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: rgba(0, 0, 0, 0.18);
  margin-top: 15px;
}
.main_social_link a:first-child {
  margin-top: 0px;
}
.main_slider {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 2;
}
.main_slider_item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main_slider_item img {
  width: 90%;
}
.main_nav {
  position: absolute;
  left: 0px;
  bottom: 37px;
  width: 100%;
  z-index: 3;
}
.main_nav_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_nav_prev {
  cursor: pointer;
}
.main_nav_slider {
  width: calc(100% - 100px);
}
.main_nav_slider_item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_nav_slider_item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.055em;
  color: #FFFFFF;
}
.main_nav_slider_item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5px;
}
.main_nav_next {
  cursor: pointer;
}
.main::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 50%;
  background: rgba(0, 0, 0, 0.12);
  mix-blend-mode: normal;
  border-left: 2px solid rgba(255, 255, 255, 0.23);
  -webkit-backdrop-filter: blur(19.5px);
          backdrop-filter: blur(19.5px);
  z-index: 1;
}
.main video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .main::before {
    width: calc(50% + 2px);
  }
  .main_feature_mob {
    display: none;
  }
  .main_feature_desk {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 2;
  }
  .main_slider_item img {
    width: 500px;
  }
  .main_social_link {
    right: 30px;
  }
}
@media (min-width: 1024px) {
  .main {
    height: calc(100vh - 53px);
  }
  .main::before {
    width: calc(50% + 3px);
  }
  .main_social_link {
    right: 45px;
  }
  .main_slider_item img {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .main::before {
    width: calc(50% + 4px);
  }
  .main_social_link {
    right: 0px;
  }
  .main_social_link a {
    margin-top: 20px;
  }
  .main_slider_item img {
    width: auto;
    height: calc(100vh - 53px);
  }
  .main_nav {
    bottom: 72px;
  }
  .main_nav_slider_item h2 {
    font-size: 56px;
    line-height: 57px;
  }
  .main_nav_slider_item p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
  }
}
@media (min-width: 1360px) {
  .main::before {
    width: calc(50% + 5px);
  }
}
@media (min-width: 1920px) {
  .main::before {
    width: calc(50% + 6px);
  }
}

.services {
  height: calc(100vh - 117px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 74px;
}
.services::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 96px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 19, 16, 0)), to(#2A1310));
  background: linear-gradient(180deg, rgba(42, 19, 16, 0) 0%, #2A1310 100%);
}
.services video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.services_block {
  position: relative;
  height: calc(100vh - 235px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 80px;
  overflow-y: scroll;
  margin-top: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.services_block::-webkit-scrollbar {
  display: none;
}
.services_block_item {
  margin-top: 30px;
}
.services_block_item:first-child {
  margin-top: 0px;
}
.services_block_item_top {
  position: relative;
}
.services_block_item_top h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.services_block_item_top::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 100%;
  height: 5px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.services_block_item_body {
  margin-top: 30px;
}
.services_block_item_body_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 30px;
  display: block;
  margin-top: 15px;
}
.services_block_item_body_item h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  height: 36px;
  text-transform: uppercase;
}
.services_block_item_body_item p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .services_block_item_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services_block_item_body_item {
    width: calc(50% - 10px);
  }
}
@media (min-width: 1024px) {
  .services {
    height: calc(100vh - 53px);
  }
  .services_block {
    height: calc(100vh - 171px);
  }
}
@media (min-width: 1200px) {
  .services {
    padding-top: 100px;
  }
  .services h2 {
    font-size: 68px;
    line-height: 69px;
  }
  .services_block {
    margin-top: 32px;
    height: calc(100vh - 253px);
  }
  .services_block_item {
    margin-top: 50px;
  }
  .services_block_item_top h4 {
    font-size: 24px;
    line-height: 24px;
  }
  .services_block_item_body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 17px;
  }
  .services_block_item_body_item {
    width: calc(33.3333333333% - 20px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .services_block_item_body_item:first-child {
    margin-left: 0px;
  }
  .services_block_item_body_item:nth-child(3n+4) {
    margin-left: 0px;
  }
}

.model {
  height: calc(100vh - 117px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 74px;
}
.model_back {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
  mix-blend-mode: normal;
  border-top: 2px solid rgba(255, 255, 255, 0.23);
  -webkit-backdrop-filter: blur(19.5px);
          backdrop-filter: blur(19.5px);
  z-index: 1;
}
.model video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.model_block {
  position: relative;
  z-index: 2;
}
.model_block_left_slider .slick-slide {
  margin: 0 8px;
}
.model_block_left_slider_item img {
  width: 100%;
}
.model_block_left_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.model_block_left_bot_prev {
  cursor: pointer;
}
.model_block_left_bot_count {
  margin: 0px 10px;
}
.model_block_left_bot_count_cur {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.model_block_left_bot_count_all {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.38);
}
.model_block_left_bot_next {
  cursor: pointer;
}
.model_block_right {
  margin-top: 35px;
  position: relative;
}
.model_block_right h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.model_block_right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 12px;
}
.model_block_right ul li::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.model_block_right ul li span {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.model_block_right button {
  width: 100%;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #F0CF90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 37px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: transparent;
}
.model_block_right button span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #F0CF90;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.model_block_right button:hover {
  background: #F0CF90;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.model_block_right button:hover span {
  color: black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (min-width: 768px) {
  .model_block_left {
    width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .model {
    height: calc(100vh - 53px);
  }
  .model_back {
    height: 100%;
    width: 50%;
    right: 0px;
    left: auto;
    border-left: 2px solid rgba(255, 255, 255, 0.23);
  }
  .model_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .model_block_left {
    width: calc(50% - 15px);
    margin: 0px;
  }
  .model_block_left_slider .slick-slide {
    margin: 0px;
  }
  .model_block_left_slider .slick-slide > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .model_block_left_slider .slick-slide > div:last-child {
    margin-top: 15px;
  }
  .model_block_left_slider_item {
    margin: 0px 8px;
  }
  .model_block_left_slider_item img {
    height: 270px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .model_block_right {
    width: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .model_block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .model_block_right {
    width: 418px;
    margin-top: 0px;
    margin-left: 70px;
  }
  .model_block_left {
    width: 554px;
  }
  .model_block_left_slider_item {
    margin: 0px 15px;
  }
  .model_block_left_slider_item img {
    height: 260px;
  }
  .model_block_left_slider .slick-slide > div:last-child {
    margin-top: 30px;
  }
}
@media (min-width: 1440px) {
  .model_block_left_slider_item img {
    height: 300px;
  }
}

.form {
  min-height: calc(100vh - 117px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form_back {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
  mix-blend-mode: normal;
  border-top: 2px solid rgba(255, 255, 255, 0.23);
  -webkit-backdrop-filter: blur(19.5px);
          backdrop-filter: blur(19.5px);
  z-index: 1;
}
.form video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form_block {
  position: relative;
  z-index: 2;
}
.form_block_top {
  position: relative;
}
.form_block_top::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -25px;
  width: 100%;
  height: 5px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.form_block_top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.form_block_top p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 10px;
  width: 202px;
}
.form_block_body {
  margin-top: 45px;
}
.form_block_body h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.form_block_body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 10px;
}
.form_block_body form span {
  display: block;
  width: calc(50% - 8px);
  margin-top: 15px;
  position: relative;
}
.form_block_body form span .nice-select {
  width: 100%;
  background: transparent;
  padding: 0px 5px 9px 5px;
  margin: 0px;
  height: auto;
  border: none;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.form_block_body form span .nice-select::after {
  right: 7px;
  top: 7px;
  border-bottom: 2px solid #F0CF90;
  border-right: 2px solid #F0CF90;
}
.form_block_body form span .nice-select .current {
  margin-top: 0px;
}
.form_block_body form span input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 5px 9px 5px;
  width: 100%;
  background: transparent;
}
.form_block_body_final {
  width: 100%;
  margin-top: 25px;
}
.form_block_body_final p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
}
.form_block_body_final input {
  width: 100%;
  height: 46px;
  line-height: 46px;
  background: #F0CF90;
  margin-top: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #010101;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form_block_top p {
    width: auto;
  }
  .form_block_body form span input {
    font-size: 14px;
    line-height: 21px;
  }
  .form_block_body form span .nice-select {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 1024px) {
  .form {
    height: calc(100vh - 53px);
  }
  .form_block_body form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
  .form_block_body form span {
    width: calc(25% - 10px);
    margin-left: 13px;
  }
  .form_block_body form span:first-child {
    margin-left: 0px;
  }
  .form_block_body form span:nth-child(4n+1) {
    margin-left: 0px;
  }
  .form_block_body_final {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form_block_body_final input {
    width: 264px;
  }
}
@media (min-width: 1200px) {
  .form_block_top h2 {
    font-size: 68px;
    line-height: 69px;
  }
  .form_block_top p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
  }
  .form_block_body {
    margin-top: 75px;
  }
  .form_block_body h4 {
    font-size: 24px;
    line-height: 24px;
  }
  .form_block_body form span {
    width: calc(25% - 22.5px);
    margin-left: 30px;
    margin-top: 20px;
  }
  .form_block_body form span input {
    padding: 0px 10px 5px 10px;
  }
  .form_block_body form span .nice-select {
    padding: 0px 10px 5px 10px;
  }
  .form_block_body form span .nice-select::after {
    right: 12px;
  }
  .form_block_body_final p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 1600px) {
  .form_block_body {
    margin-top: 100px;
  }
  .form_block_body form span {
    margin-top: 40px;
  }
  .form_block_body_final {
    margin-top: 40px;
  }
  .form_block_body_final input {
    margin-top: 30px;
  }
}

.nice-select .list {
  background: #34221F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  padding: 5px 0px 10px 0px;
}
.nice-select .list .option {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-height: auto;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .nice-select .list .option {
    font-size: 14px;
    line-height: 21px;
  }
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: transparent;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  font-weight: 700;
}

.about {
  min-height: calc(100vh - 117px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about::after {
  content: "";
  width: 100%;
  height: 97px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 19, 16, 0)), to(#2A1310));
  background: linear-gradient(180deg, rgba(42, 19, 16, 0) 0%, #2A1310 100%);
}
.about_back {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
  mix-blend-mode: normal;
  border-top: 2px solid rgba(255, 255, 255, 0.23);
  -webkit-backdrop-filter: blur(19.5px);
          backdrop-filter: blur(19.5px);
  z-index: 1;
}
.about video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_block {
  position: relative;
  height: calc(100vh - 191px);
  overflow-y: scroll;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 90px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.about_block::-webkit-scrollbar {
  display: none;
}
.about_block_trust_top {
  position: relative;
}
.about_block_trust_top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.about_block_trust_top::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -25px;
  width: 100%;
  height: 5px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.about_block_trust_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 35px;
}
.about_block_trust_body_item {
  width: calc(50% - 8px);
}
.about_block_trust_body_item img {
  width: 100%;
}
.about_block_choice {
  margin-top: 30px;
}
.about_block_choice_top {
  position: relative;
}
.about_block_choice_top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.about_block_choice_top::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -25px;
  width: 100%;
  height: 5px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.about_block_choice_block {
  margin-top: 90px;
}
.about_block_choice_block_item {
  position: relative;
  margin-top: 65px;
}
.about_block_choice_block_item img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.about_block_choice_block_item h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.about_block_choice_block_item p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 10px;
}
.about_block_we {
  margin-top: 30px;
}
.about_block_we_top {
  position: relative;
}
.about_block_we_top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.about_block_we_top::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -25px;
  width: 100%;
  height: 5px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.about_block_we_body {
  margin-top: 45px;
}
.about_block_we_body_item {
  margin-top: 20px;
}
.about_block_we_body_item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .about_block_trust_body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about_block_trust_body_item {
    width: calc(33.3333333333% - 15px);
    margin-left: 22px;
  }
  .about_block_trust_body_item:first-child {
    margin-left: 0px;
  }
  .about_block_trust_body_item:nth-child(3n+4) {
    margin-left: 0px;
  }
  .about_block_choice {
    margin-top: 30px;
  }
  .about_block_we {
    margin-top: 60px;
  }
}
@media (min-width: 1024px) {
  .about {
    height: calc(100vh - 53px);
  }
  .about_block {
    height: calc(100vh - 127px);
  }
  .about_block_trust_body_item {
    width: calc(20% - 20px);
    margin-left: 25px;
  }
  .about_block_trust_body_item:nth-child(3n+4) {
    margin-left: 25px;
  }
  .about_block_trust_body_item:nth-child(5n+1) {
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .about {
    padding-top: 52px;
  }
  .about_back {
    display: block;
  }
  .about_block {
    padding-bottom: 0px;
    width: 100%;
    position: relative;
    height: calc(100vh - 108px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .about_block_trust {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 0px;
    opacity: 1;
  }
  .about_block_trust_top h2 {
    font-size: 68px;
    line-height: 69px;
  }
  .about_block_trust_body_item {
    width: calc(16.6666666667% - 20px);
    margin-left: 24px;
  }
  .about_block_trust_body_item:nth-child(3n+4) {
    margin-left: 24px;
  }
  .about_block_trust_body_item:nth-child(5n+1) {
    margin-left: 24px;
  }
  .about_block_trust_body_item:first-child {
    margin-left: 0px;
  }
  .about_block_trust_body_item:nth-child(6n+1) {
    margin-left: 0px;
  }
  .about_block_choice {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 0px;
    margin-top: 0px;
  }
  .about_block_choice_top h2 {
    font-size: 68px;
    line-height: 69px;
  }
  .about_block_choice_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 135px;
  }
  .about_block_choice_block_item {
    width: 262px;
    margin-top: 0px;
  }
  .about_block_choice_block_item img {
    top: -45px;
  }
  .about_block_we {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 0px;
    margin-top: 0px;
  }
  .about_block_we_top h2 {
    font-size: 68px;
    line-height: 69px;
  }
  .about_block_we_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 65px;
  }
  .about_block_we_body_item {
    width: 262px;
    margin-top: 0px;
  }
  .about_block_we_body_item img {
    top: -45px;
  }
}

.portfolio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  padding-top: 74px;
}
.portfolio::after {
  content: "";
  width: 100%;
  height: 97px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 19, 16, 0)), to(#2A1310));
  background: linear-gradient(180deg, rgba(42, 19, 16, 0) 0%, #2A1310 100%);
}
.portfolio video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio_block {
  position: relative;
  height: calc(100vh - 191px);
  overflow-y: scroll;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 90px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.portfolio_block::-webkit-scrollbar {
  display: none;
}
.portfolio_block_top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.portfolio_block_body {
  position: relative;
  height: calc(100vh - 235px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 80px;
  overflow-y: scroll;
  margin-top: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.portfolio_block_body::-webkit-scrollbar {
  display: none;
}
.portfolio_block_body::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 5px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.portfolio_block_body_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio_block_body_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: calc(50% - 8px);
  margin-top: 20px;
  cursor: pointer;
}
.portfolio_block_body_list_item_wrap_img {
  position: relative;
}
.portfolio_block_body_list_item_wrap_img img {
  width: 100%;
}
.portfolio_block_body_list_item_wrap h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 10px;
}
.portfolio_block_body_list_item_wrap p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 10px;
}
.portfolio_block_body_list_item_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 10px;
}
.portfolio_block_body_list_item_btn img {
  margin-right: 9px;
}
.portfolio_block_body_list_item_btn img.desk {
  display: none;
}
.portfolio_block_body_list_item_btn img.mob {
  display: block;
}
.portfolio_block_body_list_item_btn span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F0CF90;
}
.portfolio_back {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(19.5px);
          backdrop-filter: blur(19.5px);
  z-index: 1;
}
@media (min-width: 1024px) {
  .portfolio {
    height: calc(100vh - 53px);
  }
  .portfolio_block {
    height: 100%;
    padding-bottom: 0px;
  }
  .portfolio_block_body {
    height: calc(100vh - 127px);
    padding-bottom: 142px;
  }
  .portfolio_block_body_list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .portfolio_block_body_list_item {
    width: calc(33.3333333333% - 20px);
    margin-left: 20px;
    margin-top: 30px;
  }
  .portfolio_block_body_list_item:first-child {
    margin-left: 0px;
  }
  .portfolio_block_body_list_item:nth-child(3n+4) {
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding-top: 100px;
  }
  .portfolio_block {
    height: 100%;
    padding-bottom: 0px;
  }
  .portfolio_block_top h2 {
    font-size: 68px;
    line-height: 69px;
  }
  .portfolio_block_body {
    margin-top: 30px;
    height: calc(100vh - 253px);
    padding-bottom: 90px;
  }
  .portfolio_block_body_list_item {
    width: calc(25% - 22.5px);
    margin-left: 30px;
    margin-top: 50px;
  }
  .portfolio_block_body_list_item:first-child {
    margin-left: 0px;
  }
  .portfolio_block_body_list_item:nth-child(3n+4) {
    margin-left: 30px;
  }
  .portfolio_block_body_list_item:nth-child(4n+1) {
    margin-left: 0px;
  }
  .portfolio_block_body_list_item_wrap_img {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .portfolio_block_body_list_item_wrap_img::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    mix-blend-mode: hue;
  }
  .portfolio_block_body_list_item_wrap h3 {
    font-size: 18px;
    line-height: 18px;
  }
  .portfolio_block_body_list_item_wrap p {
    font-size: 14px;
    line-height: 17px;
  }
  .portfolio_block_body_list_item_btn {
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .portfolio_block_body_list_item_btn img.desk {
    display: block;
  }
  .portfolio_block_body_list_item_btn img.mob {
    display: none;
  }
  .portfolio_block_body_list_item:hover .portfolio_block_body_list_item_wrap_img::after {
    background: transparent;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .portfolio_block_body_list_item:hover .portfolio_block_body_list_item_btn {
    opacity: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

.catalog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100vh - 117px);
  position: relative;
  padding-top: 67px;
}
.catalog::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 96px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 19, 16, 0)), to(#2A1310));
  background: linear-gradient(180deg, rgba(42, 19, 16, 0) 0%, #2A1310 100%);
}
.catalog video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog_block {
  position: relative;
  z-index: 2;
  height: calc(100vh - 191px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.catalog_block::-webkit-scrollbar {
  display: none;
}
.catalog_block_top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.catalog_block_top p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 15px;
}
.catalog_block_top_filter_mob {
  position: relative;
  z-index: 2;
}
.catalog_block_top_filter_mob::after {
  content: "";
  position: absolute;
  left: 0px;
  top: -25px;
  width: 100%;
  height: 5px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.catalog_block_top_filter_mob_top {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 20px;
  background: #2A1310;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-top: 45px;
}
.catalog_block_top_filter_mob_top span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.catalog_block_top_filter_mob_body {
  position: absolute;
  top: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 20px 24px 20px;
  background: #2A1310;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: none;
}
.catalog_block_top_filter_mob_body_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog_block_top_filter_mob_body_item {
  width: calc(50% - 8px);
}
.catalog_block_top_filter_mob_body_item .nice-select {
  width: 100%;
  background: transparent;
  border: none;
  height: auto;
  padding: 0px;
  line-height: 15px;
  margin-top: 30px;
  white-space: normal;
}
.catalog_block_top_filter_mob_body_item .nice-select .list .option {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.catalog_block_top_filter_mob_body_item .nice-select .current {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
.catalog_block_top_filter_mob_body_item .nice-select::after {
  border-bottom: 2px solid #F0CF90;
  border-right: 2px solid #F0CF90;
}
.catalog_block_desk {
  display: none;
}
.catalog_block_list {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 97px;
}
.catalog_block_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}
.catalog_block_list_item_img img {
  width: 165px;
}
.catalog_block_list_item_text {
  margin-left: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog_block_list_item_text h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.catalog_block_list_item_text_body_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.catalog_block_list_item_text_body_item::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -9px;
  width: 100%;
  height: 2px;
  background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
}
.catalog_block_list_item_text_body_item span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}
.catalog_block_list_item_text_body_item:last-child::after {
  display: none;
}
.catalog_block_list_item_text_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #F0CF90;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.catalog_block_list_item_text_btn span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #F0CF90;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.catalog_block_list_item_text_btn:hover {
  background: #F0CF90;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.catalog_block_list_item_text_btn:hover span {
  color: white;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.catalog_back {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
  mix-blend-mode: normal;
  border-top: 2px solid rgba(255, 255, 255, 0.23);
  -webkit-backdrop-filter: blur(19.5px);
          backdrop-filter: blur(19.5px);
  z-index: 1;
}
@media (min-width: 1024px) {
  .catalog {
    height: calc(100vh - 53px);
  }
  .catalog_block_top {
    display: none;
  }
  .catalog_block_desk {
    display: block;
  }
  .catalog_block_desk_text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .catalog_block_desk_text p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 15px;
  }
  .catalog_block_desk_filter {
    position: relative;
  }
  .catalog_block_desk_filter::after {
    content: "";
    position: absolute;
    left: 0px;
    top: -25px;
    width: 100%;
    height: 5px;
    background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
  }
  .catalog_block_desk_filter_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 45px;
  }
  .catalog_block_desk_filter_top span {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .catalog_block_desk_filter_top_item {
    position: relative;
    margin-left: 40px;
    cursor: pointer;
  }
  .catalog_block_desk_filter_top_item input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0px;
  }
  .catalog_block_desk_filter_top_item label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 24px;
    cursor: pointer;
  }
  .catalog_block_desk_filter_top_item label::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 14px;
    height: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #F0CF90;
  }
  .catalog_block_desk_filter_top_item label::before {
    content: "";
    background: url(../img/catalog/ok.svg);
    background-size: cover;
    background-position: 50%;
    width: 6px;
    height: 5px;
    position: absolute;
    left: 4px;
    top: 7px;
    display: none;
  }
  .catalog_block_desk_filter_top_item input:checked ~ label::before {
    display: block;
  }
  .catalog_block_desk_filter_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }
  .catalog_block_desk_filter_body_item {
    margin-right: 30px;
    width: auto;
    min-width: 240px;
    margin-top: 10px;
  }
  .catalog_block_desk_filter_body_item:first-child {
    margin-left: 0px;
  }
  .catalog_block_desk_filter_body_item .nice-select {
    width: 100%;
    background: transparent;
    border: none;
    height: auto;
    padding: 0px;
    line-height: 17px;
    white-space: normal;
  }
  .catalog_block_desk_filter_body_item .nice-select .current {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  .catalog_block_desk_filter_body_item .nice-select::after {
    border-bottom: 2px solid #F0CF90;
    border-right: 2px solid #F0CF90;
  }
  .catalog_block_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
    height: calc(100vh - 380px);
  }
  .catalog_block_list_item {
    width: calc(50% - 50px);
    margin-top: 30px;
  }
  .catalog_block_list_item:first-child {
    margin-top: 0px;
  }
  .catalog_block_list_item:nth-child(2) {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    padding-top: 90px;
  }
  .catalog_block_desk_text h2 {
    font-size: 68px;
    line-height: 69px;
  }
  .catalog_block_desk_text p {
    font-size: 16px;
    line-height: 20px;
  }
  .catalog_block_desk_filter_body_item {
    min-width: auto;
    margin-right: 20px;
  }
  .catalog_block_desk_filter_body_item:first-child {
    width: 140px;
  }
  .catalog_block_desk_filter_body_item:nth-child(2) {
    width: 64px;
  }
  .catalog_block_desk_filter_body_item:nth-child(3) {
    width: 144px;
  }
  .catalog_block_desk_filter_body_item:nth-child(4) {
    width: 128px;
  }
  .catalog_block_desk_filter_body_item:nth-child(5) {
    width: 110px;
  }
  .catalog_block_desk_filter_body_item:nth-child(6) {
    width: 120px;
  }
  .catalog_block_desk_filter_body_item:nth-child(7) {
    width: 240px;
  }
  .catalog_block_desk_filter_body_item .nice-select .list .option {
    font-size: 11px;
    line-height: 17px;
  }
  .catalog_block_desk_filter::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -25px;
    width: 100%;
    height: 5px;
    background: linear-gradient(94.54deg, rgba(240, 207, 144, 0) 0%, rgba(217, 180, 110, 0.37) 52.6%, rgba(197, 157, 80, 0) 100%);
  }
  .catalog_block_list {
    margin-top: 25px;
    height: calc(100vh - 424px);
  }
  .catalog_block_list_item {
    width: calc(50% - 60px);
  }
  .catalog_block_list_item:first-child {
    margin-top: 30px;
  }
  .catalog_block_list_item:nth-child(2) {
    margin-top: 30px;
  }
  .catalog_block_list_item_text {
    margin-left: 30px;
  }
  .catalog_block_list_item_text h4 {
    font-size: 24px;
    line-height: 24px;
  }
  .catalog_block_list_item_text_body_item {
    margin-top: 12px;
  }
  .catalog_block_list_item_text_body_item::after {
    bottom: -6px;
  }
  .catalog_block_list_item_text_body_item span {
    font-size: 16px;
    line-height: 20px;
  }
}

.portfolio_modal {
  background: #2A1310;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 60px 15px 20px 15px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  width: calc(100% - 30px);
}
.portfolio_modal_close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.portfolio_modal h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}
.portfolio_modal p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}
.portfolio_modal_slider {
  width: 100%;
  margin-top: 20px;
}
.portfolio_modal_slider_item img {
  width: 100%;
}
.portfolio_modal_slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.portfolio_modal_slider .slick-dots li {
  margin-left: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.portfolio_modal_slider .slick-dots li.slick-active {
  background: #F0CF90;
}
.portfolio_modal_slider .slick-dots li button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  opacity: 0;
}
.portfolio_modal_slider .slick-dots li:first-child {
  margin-left: 0px;
}
@media (min-width: 768px) {
  .portfolio_modal {
    width: 650px;
    height: auto;
    padding: 30px 75px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .portfolio_modal::-webkit-scrollbar {
    display: none;
  }
  .portfolio_modal_slider_item img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.portfolio_modal.active {
  z-index: 5;
  opacity: 1;
}

.back_modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
  cursor: pointer;
  display: none;
}

.back_modal.active {
  display: block;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: #2A1310;
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 15px 0px;
  z-index: 2;
  height: 116px;
}
.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer_block_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
}
.footer_block_social a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 15px;
}
.footer_block_social a:first-child {
  margin-left: 0px;
}
.footer_block_politic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  margin-top: 5px;
}
@media (min-width: 1024px) {
  .footer_block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .footer_block_tel {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer_block_social {
    margin-top: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .footer_block_politic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0px;
  }
}